<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApp</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="~/lib/Trumbowyg/ui/trumbowyg.min.css" asp-append-version="true"  />
    @await RenderSectionAsync("Styles", required: false)
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
</head>
<body class="bg-white">

    <header class="bg-white w-full mx-auto flex items-center font-sans">
        
          <vc:navigation-menu />
     
    </header>

  
    <div class="">
        <main role="main" class="mx-auto">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
