@model Category

@{
    ViewData["Title"] = "Create Post";
}
<section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
    <div class="container">
        
        <div class="flex flex-wrap justify-center mx-auto">
            <div class="w-full px-4">
                <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
                    <span class="font-semibold text-lg text-h-color mb-2 block">
                        Create Blog
                    </span>
                    <h2
                        class="
                            font-bold
                            text-3xl
                            sm:text-4xl
                            md:text-[40px]
                            text-p-color
                            mb-4
                            "
                        >
                        Be Nice & Creative
                    </h2>
                    <p class="text-base text-p-color">
                        There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center mx-4 px-4 flex-col space-y-3">
            
            <div asp-validation-summary="All" class="bg-red-100 w-full border border-red-400 mb-3 text-red-700 px-4 py-3 rounded relative" role="alert">
            </div>
            
            <form method="post" asp-controller="Category" asp-action="Create" class="space-y-7" enctype="multipart/form-data">
                <div class="space-y-3 flex flex-col">
                    <label asp-for="Title" class="text-black text-lg font-semibold">Category Title*</label>
                    <input asp-for="Title" required class="
                        w-[400px]
                        rounded-md
                        border
                        border-[#E9EDF4]
                        py-3
                        px-4
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-btn-color
                    "/>
                </div>
                <div class="space-y-3 flex flex-col">
                    <label asp-for="Thumbnail" class="text-black text-lg font-semibold">Category Thumbnail*</label>
                    <input asp-for="Thumbnail" type="file" required class="
                        w-[400px]
                        rounded-md
                        border
                        border-[#E9EDF4]
                        py-3
                        px-4
                        bg-[#FCFDFE]
                        text-base text-body-color
                        placeholder-[#ACB6BE]
                        outline-none
                        focus-visible:shadow-none
                        focus:border-btn-color
                    "/>
                </div>
                <div class="max-w-2xl">
                    <label asp-for="Description" class="text-black text-lg font-semibold block">Your Description</label>
                    <textarea asp-for="Description" rows="16" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your content..."></textarea>
                </div>
                <button type="submit" class="px-4 py-2 bg-transparent outline-none border-2 border-indigo-400 rounded text-indigo-500 font-medium active:scale-95 hover:bg-indigo-600 hover:text-white hover:border-transparent focus:bg-indigo-600 focus:text-white focus:border-transparent focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 disabled:bg-gray-400/80 disabled:shadow-none disabled:cursor-not-allowed transition-colors duration-200">
                    Submit
                </button>
                
            </form>
        </div>
        
        
    </div>
</section>
@section Styles {
    
}

@section Scripts {

}

